* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --rojo_ricale:#cc0303;
}

body {
    padding:.1em ;
}

h1 {
    margin:0%;
    padding: .2em;
    text-align: center;
    background-color:var(--rojo_ricale);
    color: white;
}

header {
    padding:.5em;
    background-color: whitesmoke;
    display:flex ;
    justify-content: space-between;
}
nav {
    align-content: center;
}


ul {
    font-size: 2em;
    display:flex;
    list-style: none;
}

li {
    padding-inline: 1.5em;
}

.logo_academy {
    width: 300px;
}

.home {
    display: flex;
}

.menu_izquierdo {
    width: 20vw;
    height:60vh;
    background-color:var(--rojo_ricale);
    color: white;
    font-size: 2em;
    padding: 1%;
    
}

.list_izquierdo {
    display: block;
    font-size: 1em;
    
}

.panel_derecho {
    width: 80vw;
    background-color:cadetblue;
}
footer {
    padding:.5em;
    background-color: var(--rojo_ricale);
    display:flex ;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
}

.logo_ricale {
    width: 150px;
}